<p>dashboard works!</p>
<div class="icon-container">
    <p class="iconstyle"><mat-icon>health_and_safety</mat-icon>Health</p>
    <p class="iconstyle"><mat-icon>approval</mat-icon>certifications</p>
    <p class="iconstyle"><mat-icon>group</mat-icon> Family</p>
    <p class="iconstyle"><mat-icon>interpreter_mode</mat-icon>InterviewPrep</p>
    <p class="iconstyle"><mat-icon>pageview</mat-icon>Job Search</p>
    <p class="iconstyle"><mat-icon>sunny</mat-icon>Miscellaneous</p>
    <p class="iconstyle"><mat-icon>self_improvement</mat-icon>Self Improvement</p>
    <p class="iconstyle"><mat-icon>work</mat-icon> Work</p>
  </div>