$red_100:#FFCDD2;
$red_300: #E57373;
$red_800: #C62828;
$red_900: #B71C1C;

$pink_100:#F8BBD0;
$pink_300: #F06292;
$pink_800: #AD1457;
$pink_900: #880E4F;

$deepPurple_100:#D1C4E9;
$deepPurple_300: #9575CD;
$deepPurple_800: #4527A0;
$deepPurple_900: #311B92;

$indigo_100:#C5CAE9;
$indigo_300: #7986CB;
$indigo_800: #283593;
$indigo_900: #1A237E;

$cyan_100:#B2EBF2;
$cyan_300: #4DD0E1;
$cyan_800: #00838F;
$cyan_900: #006064;

$teal_100:#B2DFDB;
$teal_300: #4DB6AC;
$teal_800: #00695C;
$teal_900: #004D40;

$green_100:#DCEDC8;
$green_300: #AED581;
$green_800: #558B2F;
$green_900: #33691E;

$amber_100:#FFECB3;
$amber_300: #FFD54F;
$amber_800: #FF8F00;
$amber_900: #FF6F00;

$gray_100:#F5F5F5;
$gray_300: #E0E0E0;
$gray_800: #424242;
$gray_900: #212121;

$blueGray_100:#CFD8DC;
$blueGray_300: #90A4AE;
$blueGray_800: #37474F;
$blueGray_900: #263238;

// COLORS COMPLIMENTARY  RED + CYAN, PINK + GREEN, 
// DEEPPURPLE + GREEN, AMBER + CYAN, INDIGO + RED