
  .single-task-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //align-items: center;
  }
  .myClass{ 
    font-size: 1.4em;
    color: green;  
    text-align: center;
  }
  .iconStyle {
    font-size: 1.4rem;
  }
 
  .work,.job_search,.certifications,.interview_prep{
    color: #C62828;
  } 
  .health, .miscellaneous {
    color: green;
  }
  .self_improvement{
    color:#4DD0E1;
  }
